@model ForwardApplicationViewModel
@{
    ViewBag.Title = "Forward Application";
}

<h1 class="h3 mb-4 text-gray-800">Forward Application</h1>

<div class="row">

    <div class="col-lg-12">

        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Forward</h6>
            </div>
            <div class="card-body">
                <form class="user" enctype="multipart/form-data" asp-action="Forward" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Project</label>
                                <input asp-for="Name" readonly class="form-control form-control-user" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input asp-for="ForwardToRole" type="hidden" id="ForwardToRole" />
                                <label asp-for="ApplicationID" class="control-label">Application Id</label>
                                <input asp-for="ApplicationID" readonly class="form-control form-control-user" />
                                <span asp-validation-for="ApplicationID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="LocationDetails" class="control-label">Location</label>
                                <input asp-for="LocationDetails" readonly class="form-control form-control-user" />
                                <span asp-validation-for="LocationDetails" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    @if (Model.IsForwarded == true && Model.LoggedInRole=="JUNIOR ENGINEER")
                    {
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label asp-for="SiteConditionReportFile" class="control-label"></label><span style="color:red"> (Max File (pdf) Size 4MB)</span>
                                    <div class="custom-file1">
                                        <input asp-for="SiteConditionReportFile" class="form-control custom-file-input1" accept=".pdf" />
                                        @* <label class="custom-file-label1">Choose File...</label> *@
                                        <span asp-validation-for="SiteConditionReportFile" id="SiteConditionReportFile-error" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label asp-for="CatchmentAreaFile" class="control-label"></label><span style="color:red"> (Max File (pdf) Size 4MB)</span>
                                    <div class="custom-file1">
                                        <input asp-for="CatchmentAreaFile" class="form-control custom-file-input1" accept=".pdf" />
                                        @* <label class="custom-file-label1">Choose File...</label> *@
                                        <span asp-validation-for="CatchmentAreaFile" id="CatchmentAreaFile-error" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label asp-for="DistanceFromCreekFile" class="control-label"></label><span style="color:red"> (Max File (pdf) Size 4MB)</span>
                                    <div class="custom-file1">
                                        <input asp-for="DistanceFromCreekFile" class="form-control custom-file-input1" accept=".pdf" />
                                        @* <label class="custom-file-label1">Choose File...</label> *@
                                        <span asp-validation-for="DistanceFromCreekFile" id="DistanceFromCreekFile-error" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label asp-for="GisOrDwsFile" class="control-label"></label><span style="color:red"> (Max File (pdf) Size 4MB)</span>
                                    <div class="custom-file1">
                                        <input asp-for="GisOrDwsFile" class="form-control custom-file-input1" accept=".pdf" />
                                        @* <label class="custom-file-label1">Choose File...</label> *@
                                        <span asp-validation-for="GisOrDwsFile" id="GisOrDwsFile-error" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label asp-for="CrossSectionOrCalculationFile" class="control-label"></label><span style="color:red"> (Max File (pdf) Size 4MB)</span>
                                    <div class="custom-file1">
                                        <input asp-for="CrossSectionOrCalculationFile" class="form-control custom-file-input1" accept=".pdf" />
                                        @* <label class="custom-file-label1">Choose File...</label> *@
                                        <span asp-validation-for="CrossSectionOrCalculationFile" id="CrossSectionOrCalculationFile-error" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label asp-for="LSectionOfDrainFile" class="control-label"></label><span style="color:red"> (Max File (pdf) Size 4MB)</span>
                                    <div class="custom-file1">
                                        <input asp-for="LSectionOfDrainFile" class="form-control custom-file-input1" accept=".pdf" />
                                        @* <label class="custom-file-label1">Choose File...</label> *@
                                        <span asp-validation-for="LSectionOfDrainFile" id="LSectionOfDrainFile-error" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <b><label asp-for="IsKMLByApplicantValid" class="control-label"></label></b>
                                    <input type="checkbox" asp-for="IsKMLByApplicantValid" checked />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <b><label asp-for="IsDrainNotified" class="control-label"></label></b>
                                    <input type="checkbox" id="IsDrainNotified" asp-for="IsDrainNotified" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label asp-for="DrainWidth" id="DrainWidth" class="control-label">
                                        Width as per Calculations
                                    </label>
                                    <input asp-for="DrainWidth" class="form-control form-control-user numericField" />
                                    <span asp-validation-for="DrainWidth" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        @* @if (Model.LoggedInRole == "EXECUTIVE ENGINEER" && Model.IsForwarded==false)
                        {
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label asp-for="SelectedSubDivisionId" class="control-label">Sub-Division</label>
                                    @if (Model.SubDivisions != null)
                                    {
                                        @if (Model.SubDivisions.Count() > 0)
                                        {
                                            <select asp-for="SelectedSubDivisionId" asp-items="@Model.SubDivisions" class="form-control">
                                                <option value="">Select</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select name="SelectedSubDivisionId" disabled class="form-control">
                                                <option value="">Select</option>
                                            </select>
                                        }
                                    }
                                    else
                                    {
                                        <select name="SelectedSubDivisionId" disabled class="form-control">
                                            <option value="">Select</option>
                                        </select>
                                    }
                                    <span asp-validation-for="SelectedSubDivisionId" class="text-danger"></span>
                                </div>
                            </div>
                        } *@
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="SelectedOfficerId" class="control-label">Forward To</label>
                                @if (Model.Officers != null)
                                {
                                    if (Model.Officers.Count() > 0)
                                    {
                                        <select asp-for="SelectedOfficerId" id="SelectedOfficerId" asp-items="@Model.Officers" class="form-control">
                                            <option value="">Select</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select name="SelectedOfficerId" disabled id="SelectedOfficerId" class="form-control">
                                            <option value="">Select</option>
                                        </select>
                                    }

                                }
                                else
                                {
                                    <select name="SelectedOfficerId" id="SelectedOfficerId" disabled class="form-control">
                                        <option value="">Select</option>
                                    </select>
                                }
                                <span asp-validation-for="SelectedOfficerId" id="SelectedOfficerIdVal" class="text-danger"></span>
                            </div>
                        </div>
                        @if (Model.IsForwarded == true)
                        {
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label asp-for="SelectedRecommendationId" class="control-label"></label>
                                    @if (Model.Recommendations != null)
                                    {
                                        if (Model.Recommendations.Count() > 0)
                                        {
                                            <select asp-for="SelectedRecommendationId" id="SelectedRecommendationId" asp-items="@Model.Recommendations" class="form-control">
                                                <option value="">Select</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select name="SelectedRecommendationId" disabled id="SelectedRecommendationId" class="form-control">
                                                <option value="">Select</option>
                                            </select>
                                        }

                                    }
                                    else
                                    {
                                        <select name="SelectedRecommendationId" id="SelectedRecommendationId" disabled class="form-control">
                                            <option value="">Select</option>
                                        </select>
                                    }
                                    <span asp-validation-for="SelectedRecommendationId" id="SelectedRecommendationIdVal" class="text-danger"></span>
                                </div>
                            </div>
                        }
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="Remarks" class="control-label"></label>
                                <textarea asp-for="Remarks" placeholder="Remarks" class="form-control" cols="3" rows="2"></textarea>
                                <span asp-validation-for="Remarks" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        @if (Model.LoggedInRole == "EXECUTIVE ENGINEER" && Model.IsForwarded == false)
                        {
                            @if (Model.SubDivisions.Count() > 0)
                            {
                                <div class="col-lg-6">

                                    <button type="submit" class="btn btn-primary btn-user btn-block">Forward</button>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn btn-secondary btn-user btn-block" asp-controller="ApprovalProcess" asp-action="Index">Back To List</a>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-6 offset-lg-3">
                                    <a class="btn btn-secondary btn-user btn-block" asp-controller="ApprovalProcess" asp-action="Index">Back To List</a>
                                </div>
                            }
                        }
                        else @if (Model.Officers.Count() > 0)
                        {
                            <div class="col-lg-6">

                                <button type="submit" class="btn btn-primary btn-user btn-block">Forward</button>
                            </div>
                            <div class="col-lg-6">
                                <a class="btn btn-secondary btn-user btn-block" asp-controller="ApprovalProcess" asp-action="Index">Back To List</a>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-6 offset-lg-3">
                                <a class="btn btn-secondary btn-user btn-block" asp-controller="ApprovalProcess" asp-action="Index">Back To List</a>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>

    </div>



</div>

@section  Scripts {
    <script src="~/modulejs/appforwardscript.js"></script>
}
