@model DivisionViewModelEdit
@{
    ViewBag.Title = "Edit Division";
}


<h1 class="h3 mb-4 text-gray-800">Edit Division</h1>

<div class="row">

    <div class="col-lg-6">

        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Edit</h6>
            </div>
            <div class="card-body">
                <form class="user" asp-action="Edit" asp-controller="Division" method="post">
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control form-control-user" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary btn-user btn-block">Update</button>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn btn-secondary btn-user btn-block" asp-controller="Division" asp-action="List">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>



</div>

