@{
    Layout = null; // Optional: If you don't want to use a layout
}
<html>
<head>
    <meta name='ContentType' content='application/json' />
    <meta name='Accept' content='application/json' />
</head>
<body>
    <form id="PostForm" name="PostForm" action="ChallanForm" method="POST">
        <input type='hidden' name='encData' value='pP6myn0wKpxEhTMUeh6JNzTMbNu4qrVFB2M0SGBVPzocn//C1/HYosejX/a1fpSFHOtjcbKe2EyfdLM3fngNKU3GzKj3YYyAwRe/LXP2dPidYxW68DxsNNpgwHL6gk0q1X/j57zZstD1zTukqcQaQ64uv+7RZk0g/VnJ0BBip94vd6ZklYoTA9J8crnwsLzLbw/maN9vjwCREStd3USZKxgrlNgTDa3dyMogaMiTZgscf+ZeuFx39ZUfEqIZK/RQmrZHidj1IE97KrkKOTeVhow2k9M+Lb4hmY7P0QCelRzFYDPi/VxJ8iGWP6myB4yQsejAZwEk5GUw0EMloua24Y9+66zcUzjZgmjZ+FnsW0kqAm/n2b4fRnroMEE2LXysKf90AWiins7VrkLdqnszTgGbA5ubqzzZACq/HCP+ze7IScXgPece607zEDWKAUWvh729ghWTfl8gHrghMfF69IyFuJ/ux81XnMN6rimr7Ct0ODqjk330bwBdg5V7LqGQot3D7TeCNcCuoujpzVLOBobXjxn91/rsqNSGAjPt+Zsx4ksznhwtjlD4SfxmZsrUnOPlE+2yxNUhHeYQ9HvLRx7HmCK+tDh0PKsBRCPL4G2p+2rjos2yHNEZfBtaJ8FVIFAr/cZkJCRZW40KkZKI4V/oPPiVEgip4ioNNPL4AHKm9NxV7hHbBCEh79LpBqqB6m81AZomwF59/JgXKDgAq1AMd0i8i5JJQjPE8CZwbdi44hvA2v5pQM91R/AvKVuu46yXJLbOJtxhsPX8Sxg3wM0lmUJTY2vDcmBvRaVxP8iIU+OgXvXjtY73zstj4FV6J6XolmqgiwD7BVdddSQWv4u0EZzaP3YaX2igyi/F3jRLjwAmtlWI3s8EBLuEzC+cyxmrPYINlwr36B1DmUPka/C0LU8cBwZZUhGw1lRmLx57bbyuqZr2m6rwxqiiDiNvKpAA9iBuR8fx5T+tCGZ+eShOStEEkyiEQAJu0qkg7kacjBLamIpSgBVc9+M5zKWLsqozuxxQuXAOitHwqktJPHWK6jvLAgY6znolDN7Ml8opivGxx00P4V1/TYBgFy7CqEL0lj0o4UfviUEnFpvqrjt7gTUWH76xNn8RJZOBkgX18VkXbY/7cqs9xorK4XwpzNcRsc74T3caI0FNHsyeMclzQE0HP5wLBIiT6C7MU29qO4YH32y4NWWgM0RjMiZAuLE/HVW2QhW4sCVNMF/Ibks2dMX8OPMQtyTh1o/dsZSFm93zN/sPozpIlL99HJjsaJYsnYfF60HiMqY2189s9w==' />
        <input type='hidden' name='clientId' value='3dad2e78100f42ec999abb423f193333' />
        <input type='hidden' name='clientSecret' value='6abcc8627e34498abb4bc7c562603333' />
        <input type='hidden' name='integratingAgency' value='DUAT01' /> 
        <input type='hidden' name='ipAddress' value='112.196.25.180' />
        <input type='hidden' name='transactionID' value='870982' />
        <button type="submit">Pay</button>
    </form>
    <script language='javascript'>var vPostForm = document.PostForm; vPostForm.submit();</script>
</body>
</html>