@model TehsilBlockViewModelCreate
@{
    ViewBag.Title = "Create Tehsil/Block";
}



<h1 class="h3 mb-4 text-gray-800">Create Tehsil/Block</h1>

<div class="row">

    <div class="col-lg-6">

        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create</h6>
            </div>
            <div class="card-body">
                <form class="user" asp-action="Create" method="post">
                    <div class="form-group">
                        <label asp-for="SelectedDistrictId" class="control-label">District</label>
                        <select asp-for="SelectedDistrictId" asp-items="@Model.Districts" class="form-control">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="SelectedDistrictId" class="text-danger"></span>
                    </div>
                    @* <div class="form-group">
                        <label asp-for="SelectedSubDivisionId" class="control-label">Sub-Division</label>
                        <select asp-for="SelectedSubDivisionId" asp-items="@Model.SubDivision" class="form-control">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="SelectedSubDivisionId" class="text-danger"></span>
                    </div> *@
                    <div class="form-group">
                        <label asp-for="LGD_ID" class="control-label"></label>
                        <input asp-for="LGD_ID" id="LGD_ID" class="form-control form-control-user" />
                        <span asp-validation-for="LGD_ID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control form-control-user" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary btn-user btn-block">Create</button>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn btn-secondary btn-user btn-block" asp-controller="TehsilBlock" asp-action="List">Back to List</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>



</div>
@section  Scripts{
    <script src="~/modulejs/tehsilscript.js"></script>
}

