@model RegisterViewModel;
@{
    ViewBag.Title = "User Registration";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}

@* <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> *@
<div class="col-lg-12">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">User Registration</h1>
        </div>
        <form class="user" asp-controller="Account" asp-action="Register" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
           @*  <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                           placeholder="First Name">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName"
                           placeholder="Last Name">
                </div>
            </div> *@
            <div class="form-group">
                <input asp-for="Email" class="form-control form-control-user" placeholder="Email Address">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input asp-for="Password" class="form-control form-control-user" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <input asp-for=ConfirmPassword class="form-control form-control-user" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">Register</button>
           @*  <a class="btn btn-primary btn-user btn-block">
                Register
            </a> *@
           @*  <hr>
            <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Register with Google
            </a>
            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
            </a> *@
        </form>
        <hr>
        <div class="text-center">
            <a class="small" href="forgot-password.html">Forgot Password?</a>
        </div>
        <div class="text-center">
            <a class="small" asp-action="Login" asp-controller="Account">Already have an account? Login!</a>
        </div>
    </div>
</div>
