@* @model IEnumerable<Employee> *@
@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

<div class="card-deck">
   
    @* @foreach (Employee employee in Model)
    {
        var photoPath = "~/images/" + (employee.PhotoPath ?? "noimage.png");
        <div class="card m-3">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top" width="50" height="300" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id" class="btn btn-primary">View</a>
                <a asp-action="edit" asp-controller="home" asp-route-id="@employee.Id" class="btn btn-warning">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    } *@
</div>
